body {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Neue, sans-serif;
    font-size: 14px;
    line-height: 1.43;
    -webkit-font-smoothing: antialiased;
    background-image: url('./coche.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
}

html {
    height: 100%;
}